name: Backup Configuration files

on:
  pull_request:
    branches:
      - main

jobs:
  backup:
    runs-on: ubuntu-24.04

    steps:
    - name: checkout repository
      uses: actions/checkout@v4
      
    - name: Print hello
      run: echo "HELLO"
