name: Backup Configuration files

on: [ push ]

jobs:
  backup:
    runs-on: ubuntu-24.04

    steps:
    - name: checkout repository
      uses: actions/checkout@v4
      
    - name: Print hello
      run: echo "HELLO"
